# Ignore all EXE files
*.exe

# Ignore specific files
exercise2/ue_english_64.exe

# Ignore all files in the "exercise2" directory
exercise2/*

# Ignore other large files (e.g., media files)
*.zip
*.tar
*.iso
*.mp4
*.mp3

# Ignore temporary files or OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore temporary development files
node_modules/
dist/
.env